apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: jobset-metrics-service-monitor
  namespace: jobset-system
  labels:
    app.kubernetes.io/managed-by: Kustomize
    app.kubernetes.io/version: "0.7.3"
    app.kubernetes.io/name: jobset
    app.kubernetes.io/instance: jobset
    app.kubernetes.io/component: controller
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: jobset
      app.kubernetes.io/instance: jobset
      app.kubernetes.io/component: controller
  endpoints:
    - port: metrics
      path: /metrics
      scheme: https
      bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
      tlsConfig:
        insecureSkipVerify: true
