apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: jobset-validating-webhook-configuration
  labels:
    app.kubernetes.io/managed-by: Kustomize
    app.kubernetes.io/version: "0.7.3"
    app.kubernetes.io/name: jobset
    app.kubernetes.io/instance: jobset
    app.kubernetes.io/component: webhook
  annotations:
    cert-manager.io/inject-ca-from: jobset-system/jobset-webhook-server-cert
webhooks:
  - name: validate-jobset-x-k8s-io-v1alpha2-jobset.x-k8s.io
    admissionReviewVersions:
      - v1
    clientConfig:
      service:
        name: jobset-webhook-service
        namespace: jobset-system
        path: /validate-jobset-x-k8s-io-v1alpha2-jobset
    rules:
      - apiGroups:
          - jobset.x-k8s.io
        apiVersions:
          - v1alpha2
        operations:
          - CREATE
          - UPDATE
          - DELETE
        resources:
          - jobsets
    sideEffects: None
  - name: validate--v1-pod.x-k8s.io
    admissionReviewVersions:
      - v1
    rules:
      - apiGroups:
          - ""
        apiVersions:
          - v1
        operations:
          - CREATE
        resources:
          - pods
    clientConfig:
      service:
        name: jobset-webhook-service
        namespace: jobset-system
        path: /validate--v1-pod
    objectSelector:
      matchExpressions:
        - key: jobset.sigs.k8s.io/jobset-name
          operator: Exists
    sideEffects: None
